@import "img.css"; 
@import "navbar.css";
@import "footer.css";
  
  img {
    border-radius: 8px;
    width: 350px;
    height: 250px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
  
  .img-container {
    font-family: fantasy;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    gap: 7vh;
    width: 150vh;
    height: 150vh;
    margin-top: 5%;
    margin-left: 12%;
    margin-bottom: 5%;
    
     
} 
    
    

     
     


